In [ ]:
numList = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

for i in range(0, 3):
  for k in range(0, 4):
    print("", numList[i][k], end='')
  print("")

print()

for i in range(0, 3):
  print(numList[i])

print()

for row in numList:
  print(row)
  print(row[1])

 1 2 3 4
 5 6 7 8
 9 10 11 12

[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 11, 12]

[1, 2, 3, 4]
2
[5, 6, 7, 8]
6
[9, 10, 11, 12]
10

In [ ]:
#이차원 리스트 다루기 예제 1
spending = [['20210310', '커피', 3500],
            ['20210327', '영화', 15000],
            ['20210402', '커피', 5000],
            ['20210417', '책', 18000],
            ['20210427', '선물', 50000],
            ['20210505', '선물', 30000],
            ['20210508', '선물', 100000],
            ['20210520', '옷', 60000],
            ['20210528', '커피', 4000]]

#커피 항목 총 지출 금액 계산
coffee = 0
march = 0

for row in spending:
  if (row[1] == '커피'):
    coffee += row[2]  #리스트 마지막이기 때문에 row[-1]과 row[2]와 같음

#3월 총 지출 금액 계산
  date = row[0]
  if (date[4:6] == '03'):
    march += row[2]

print('커피 금액', coffee)
print('3월 금액', march)

커피 금액 12500
3월 금액 18500

In [ ]:
#이차원 리스트 다루기 예제 2
import random

bookList=[['역사탐험대'],
          ['파이썬'],
          ['학습법'],
          ['영단어'],
          ['여행에세이'],
          ['삼국지']]

max = 0
index = 0

for row in bookList:
  row.append(random.randint(15000, 25000))
  print(row)
  
  if (max < row[-1]):
    max = row[-1]

for i in range(len(bookList)):
  if (bookList[i][1] == max):
    index = i
    break

print('가장 비싼 책 :', bookList[index][0])

['역사탐험대', 15541]
['파이썬', 22665]
['학습법', 20073]
['영단어', 17866]
['여행에세이', 19909]
['삼국지', 23597]
가장 비싼 책 :  삼국지

In [ ]:
eng={'break':['깨어지다','부서지다'],'bring':'가져오다','brush':['붓', '빗'],'brave':'용감한'}
print(eng)
print(eng['brush'])

{'break': ['깨어지다', '부서지다'], 'bring': '가져오다', 'brush': ['붓', '빗'], 'brave': '용감한'}
['붓', '빗']

In [ ]:
menu={'라면':2500,'김밥':3500,'라볶이':'4500'}
print(menu)
menu['김치볶음밥']=6500 #데이터 추가
print(menu)
menu['라면']=3000 #데이터 변경
print(menu)
menu['김밥']+=500 #데이터 연산
menu['김치볶음밥']-=600 #데이터 연산
print(menu)
del menu['라볶이'] #데이터 삭제
print(menu)

{'라면': 2500, '김밥': 3500, '라볶이': '4500'}
{'라면': 2500, '김밥': 3500, '라볶이': '4500', '김치볶음밥': 6500}
{'라면': 3000, '김밥': 3500, '라볶이': '4500', '김치볶음밥': 6500}
{'라면': 3000, '김밥': 4000, '라볶이': '4500', '김치볶음밥': 5900}
{'라면': 3000, '김밥': 4000, '김치볶음밥': 5900}

In [ ]:
menu={'라면':2500,'김밥':3500,'라볶이':4500,'김치볶음밥':6500,'우동':4000}
print(menu.keys())
print(menu.values())
print(menu.items())
print('')
print(sorted(menu.keys()))
print(sorted(menu.values(),reverse=True))
print(sorted(menu.items()))

dict_keys(['라면', '김밥', '라볶이', '김치볶음밥', '우동'])
dict_values([2500, 3500, 4500, 6500, 4000])
dict_items([('라면', 2500), ('김밥', 3500), ('라볶이', 4500), ('김치볶음밥', 6500), ('우동', 4000)])

['김밥', '김치볶음밥', '라면', '라볶이', '우동']
[6500, 4500, 4000, 3500, 2500]
[('김밥', 3500), ('김치볶음밥', 6500), ('라면', 2500), ('라볶이', 4500), ('우동', 4000)]

In [ ]:
import operator

menu={'라면':2500,'김밥':3500,'라볶기':4500,'김치볶음밥':6500,'우동':4000}
print(sorted(menu.items(),key=operator.itemgetter(1)))
print(sorted(menu.items(),key=operator.itemgetter(1),reverse=True))
print('가장 싼 음식은', sorted(menu.items(),key=operator.itemgetter(1))[0])

[('라면', 2500), ('김밥', 3500), ('우동', 4000), ('라볶기', 4500), ('김치볶음밥', 6500)]
[('김치볶음밥', 6500), ('라볶기', 4500), ('우동', 4000), ('김밥', 3500), ('라면', 2500)]
가장 싼 음식은 ('라면', 2500)

In [ ]:
midterm = {'Tom':43,
           'Mike':82,
           'Jamie':76,
           'John':61,
           'Mary':94}

for name in midterm.keys():
  print(name, end='')

print()

for score in midterm.values():
  print(score, end='')

print()

for name in midterm.keys():
  print(name, midterm[name], end='')

print()

for name, score in midterm.items():
  print(name, score, end='')

print()

for name, score in midterm.items():
  if score >= 70:
    print(name)

TomMikeJamieJohnMary
4382766194
Tom 43Mike 82Jamie 76John 61Mary 94
Tom 43Mike 82Jamie 76John 61Mary 94
Mike
Jamie
Mary

In [ ]:
import operator
store = {'삼각김밥':22, '육개장큰사발':30, '핫바':15, '구운계란':10, '우유':25, '생수':15}

for name, num in store.items():
  if num <= 20:
    print(name, end=' ')
    store[name] += 20
print()
print(store)


#print(sorted(menu.items(),key=operator.itemgetter(1),reverse=True))

store = dict(sorted(store.items(), key=operator.itemgetter(1), reverse=True))

for name in store.keys():
  print(name, end=' ')

핫바 구운계란 생수
{'삼각김밥': 22, '육개장큰사발': 30, '핫바': 35, '구운계란': 30, '우유': 25, '생수': 35}
핫바 생수 육개장큰사발 구운계란 우유 삼각김밥

In [ ]:
startInt = int(input('시작값:'))
endInt = int(input("끝"))
incValue = int(input('증가'))
sum = startInt

while True:
  print(startInt, end='')
  sum += startInt
  if startInt > endInt-incValue:
    print('=', end='')
    break
  else:
    print('+', end='')
    startInt += incValue
print(sum)

시작값:10
끝40
증가7
10+17+24+31+38=130

In [ ]:
mane = input('name')

spaceIndx = mane.find(' ')
firstName = mane[:spaceIndx+1]
lastName = mane[spaceIndx+1:]
print(firstName)
print(lastName)

firstName = firstName.upper()
firstName = firstName

nameand sld
and
sld